<h1>Make your form here</h1>

<form action="/pirates" method="POST">
  <label>Make Your First Pirate!</label>
  <label for="name">Pirate Name</label>
  <input type="text" name="pirate[name]">
  <label for="weight">Pirate Weight</label>
  <input type="text" name="pirate[weight]">
  <label for="height">Pirate Height</label>
  <input type="text" name="pirate[height]">

  <label>Make Your First Ship!</label>
  <label for="name">Ship Name</label>
  <input type="text" name="ship[name]">
  <label for="type">Ship Type</label>
  <input type="text" name="ship[type]">
  <label for="booty">Ship Booty</label>
  <input type="text" name="ship[booty]">

  <label>Make Your Second Ship!</label>
  <label for="name">Ship Name</label>
  <input type="text" name="ship[name]">
  <label for="type">Ship Type</label>
  <input type="text" name="ship[type]">
  <label for="booty">Ship Booty</label>
  <input type="text" name="ship[booty]">

</form>
